.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
  transition: all 0.2s;
}

.ghoast {
  color: var(--primary);
  background: none;
  padding: 5px;

  &:hover {
    background-color: var(--primary);
    color: white;
  }
}

.right {
  display: inline-block;
  margin-left: 5px;
  transition: all 0.2s;
}

.down {
  transform: rotate(90deg);
  transition: all 0.2s;
  margin-left: 10px;
}
