.text {
  margin: 0;
}

.xs {
  font-size: 12px;
}

.s {
  font-size: 14px;
  line-height: 24px;
}

.m {
  font-size: 16px;
  line-height: 24px;
}

.l {
  font-size: 18px;
  line-height: 29px;
}

.normal {
  color: var(--text);
}

.light {
  color: var(--text-light);
}

.primary {
  color: var(--primary);
}
